# =========================
# PlatformIO
# =========================
.pio/
.vscode/

# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
env/

# =========================
# Environment / Secrets
# =========================
.env
.env.*
!.env.example

# =========================
# OS / Editor
# =========================
.DS_Store
Thumbs.db

# =========================
# Secrets
# =========================
firmware/include/secrets.h